
header .navbar  {
    background: none;
    border: none;
    margin-bottom: 5vh;
    font-weight: 700;
}

header .navbar .navbar-brand {
    width: 8vw;
}

.active {
    color: rgb(255, 196, 0)!important;
}