
.counter-wrapper .counter-group {
    width: 100%;
    display: flex;
    margin-top: 5vh;
}

.counter-wrapper .counter-group-button {
    flex: 33%;
}

.counter-group button{
    background-color: #FFF;
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.counter-group button:disabled {
    background-color: rgb(221, 221, 221);
    color: #000;
}

.counter-group button.counter {
    background-color: #FFF;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.counter-group button.counter-disabled {
    background-color: rgb(202, 202, 202);
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

button.btn-danger {
    width: 100%;
}